body {
    background: url('/colorful_swirl_shape_abstract_4k_hd_abstract-HD-3772982610.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.App {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}