body {
    background: linear-gradient(to right, #1c3844, #3c6e7e, #5eb6dc)!important;

}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}