body {
    background: linear-gradient(to right, #0d1c22, #203a43, #2c5364)!important;

}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}