.welcome {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
    text-align: center;
}

.welcome-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 38, 38, 0.9);
    background: rgba(255, 235, 235, 0.15);
}

.welcome-vid video {
    background-color: white;
    margin: 30px auto;
    width: 500px;
    align-items: center;
    max-height: 250px;    
}

.welcome-vid p {
    color: white;
}

input {
    margin-top: 20px;
    /* width: 96.989px; */
}

@media screen and (max-width: 768px) {
    .welcome-vid video {
        width: 300px;
    }
    
}