.welcome {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
    text-align: center;
}

.welcome-vid video {
    margin: 30px auto;
    display: block;
    width: 700px;
    align-items: center;
    border-radius: 25px;
    border: 5px solid #1b7eff;
}